---
import HomeCarousal from "../../components/HomeCarousal.astro";
import HomePanelCard from "../../components/HomePanelCard.astro";
import HomePaymentOptCards from "../../components/HomePaymentOptCards.astro";
import { getAPIPath, shuffleArray, getStaticTranslation, mainData, getImageBasePath } from "../../data/utils";
import MainLayout from "../../layouts/MainLayout.astro";
import { metaDataUr } from "./data";

// const allSidebarWidgetsFetch: any = await fetch(getAPIPath() + "sidebarWidgets.json").then(
//     (Response) => Response.json(),
// );

const allPanels = await fetch(getAPIPath() + "panels");
const responsePanels = await allPanels.json();
const panelsList = responsePanels.reverse();

interface paymentOptionStructure{
    id: string,
    paymentLogo: string,
    paymentOptTitle: string,
}
let allPaymentOptions : paymentOptionStructure[] = await fetch(getAPIPath() + "payments").then(Response => Response.json());

allPaymentOptions = shuffleArray(allPaymentOptions);

let selectedPaymentOptions
if(allPaymentOptions.length > 5)
    selectedPaymentOptions = allPaymentOptions.slice(1, 5);
else
    selectedPaymentOptions = allPaymentOptions

let paymentOptionsCount :number[] = [];
for (let i = 0; i < selectedPaymentOptions.length; i++) {
    let panelCount = 0;
    for (let j = 0; j < responsePanels.length; j++) {
        for (let k = 0; k < responsePanels[j].paymentOptions.length; k++) {
            responsePanels[j].paymentOptions[k].payOption.toLocaleLowerCase() == selectedPaymentOptions[i].paymentOptTitle.toLocaleLowerCase() ? panelCount++ : null;
        }
    }
    paymentOptionsCount.push(panelCount);
}

const allSiteFetch:any = await fetch(getAPIPath() + "siteSettings/" + import.meta.env.SITESETTINGSKEY).then(Response => Response.json());

let langDirectory = "";
if(metaDataUr.language != "en"){
    langDirectory = "/"+ metaDataUr.language
}
---

<MainLayout 
    siteTitle = {allSiteFetch.SiteTitle} 
    title={allSiteFetch.SiteTitle + " - Home"} 
    lang={metaDataUr.language}
    metaDescription={allSiteFetch.siteMetaDescription} 
    pageType="page">
    <!-- allSiteFetch.SiteTitle -->
    <div class="container-top flex flex-col lg:flex-row gap-3 my-5 w-full">

        <div class="top-inner flex lg:w-[600px] xl:w-[680px] 2xl:w-[800px] w-full lg:h-[360px] text-white">
            <HomeCarousal lang={metaDataUr.language}/>
        </div>

            <div class="top-inner-aside flex-1 flex flex-col gap-3 bg-[#d3d3d3] dark:bg-[#202123] lg:w-1/3 w-full p-3 rounded-2xl">
            <span class="flex w-full items-center justify-between mb-2 dark:text-white">
                <!-- {language != "en" ? getStaticTranslation("Payment Options".replaceAll(" ", "").toLocaleLowerCase(), "ru") : -->
                <h3 class="text-2xl">{metaDataUr.text[7]}</h3>
                <a class="text-gray-600 dark:text-[#949fa5] text-sm" href="/payment-options/">{metaDataUr.text[8]}</a>

            </span>
            
            <div class="flex flex-col gap-3">
                <!-- Displaying Payment Options -->
                <ol>
                    {
                        selectedPaymentOptions.length > 0
                        ? selectedPaymentOptions.map((payment:any, index:number) => (
                            <HomePaymentOptCards lang={metaDataUr.language} count={paymentOptionsCount[index]} payment={payment} index={index}  />
                        ))
                        : <h3 class="text-2xl font-semibold my-2 mt-4 text-center w-full dark:text-white">{metaDataUr.text[61]}</h3>
                    }
                </ol>
            </div>
        </div>
    </div>

    <div class="panels-wrapper flex flex-col justify-center items-center gap-3">
        
        {
            panelsList.length > 0
            ? <h3 class="text-2xl font-semibold my-2 mt-4 text-left w-full dark:text-white">🔥{metaDataUr.text[11]}</h3>
            : <h3 class="text-2xl font-semibold my-2 mt-4 text-center w-full dark:text-white">{metaDataUr.text[61]}</h3>
        }
        <div class="panels-container flex flex-wrap gap-6 justify-between w-full text-slate-600 dark:text-white">
            {
                panelsList.slice(0, 12).map((panel:any) => (
                    <HomePanelCard lang={metaDataUr.language} imgSrc={getImageBasePath() + panel.panelFeaturedImage} panelTitle={panel.panelTitle} panelUrl={panel.panelSlug} rating={panel.rating}/>
                ))
            }
        </div>

        {
            panelsList.length > 0
            && <a class="hover:bg-[#69b63d] bg-[#9bdd75] group my-3 font-semibold rounded-full gap-2 flex items-center px-3 py-2 w-fit" href={langDirectory + "/panels/"}>{metaDataUr.text[8]} <i class="fa-solid fa-arrow-right group-hover:pl-1 transition-all ease-in-out"></i></a>
        }
        
    </div>
</MainLayout>

<script is:inline>
    let allThumbnailImg = document.querySelectorAll(".panelThumbnail");
    allThumbnailImg.forEach(thumbnailImg => {
        thumbnailImg.addEventListener("click", ()=>{
          thumbnailImg.nextElementSibling.querySelector("a").click();
        })
    })
</script>