---
// import the Image component and the image
import logo from './../assets/logoMain.png'
import logo1 from './../assets/Logo1.png'
import logo2 from './../assets/Logo2.png'
import logo3 from './../assets/Logo3.png'

interface Props {
    isSmall ?: boolean,
    lang ?: string;
    siteLogoImage : string;
}
const {isSmall = false, lang = "en", siteLogoImage} = Astro.props;

let langDirectory = "";
if(lang != "en"){
    langDirectory = "/"+ lang
}
---

<a href=`${langDirectory}/` class="flex items-center gap-2">
    <span class="relative" class:list={[
        isSmall ? "size-16" : "size-20"
    ]}>
        <img class="absolute floatAndRotateElement size-[40%] bottom-0 right-0" src={logo1.src} alt="social media logo" style="animation-delay: 0.5s;">
        <img class="absolute floatAndRotateElement size-[40%] top-3 left-1/3" src={logo2.src} alt="social media logo">
        <img class="absolute floatAndRotateElement size-[40%] bottom-0 left-0" src={logo3.src} alt="social media logo" style="animation-delay: .7s;">
    </span>
    <img class:list={[
        isSmall ? "h-10" : "h-20"
    ]} src={siteLogoImage} alt="smmpanels.org Logo">
    <!-- ]} src={logo.src} alt="smmpanels.org Logo"> -->
</a>