---
import { metaData } from '../pages/data';
import { metaDataEs } from '../pages/es/data';
import { metaDataFr } from '../pages/fr/data';
import { metaDataPt } from '../pages/pt/data';
import { metaDataRu } from '../pages/ru/data';
import { metaDataZh } from '../pages/zh/data';
import { metaDataHi } from '../pages/hi/data';
import { metaDataBn } from "../pages/bn/data";
import { metaDataUr } from "../pages/ur/data";
import { metaDataId } from "../pages/id/data";

interface Props {
    imageSrc : string,
    panelTitle : string,
    slugURL : string,
    payMethods : any,
    requiredPaymentMatch : string,
    lang ?: string
}

const {imageSrc ,panelTitle, slugURL, payMethods, requiredPaymentMatch, lang="en"} = Astro.props;
let minDepo, bonus;

for (let i = 0; i < payMethods.length; i++) {
    if(payMethods[i].payOption.toLowerCase().replaceAll(" ", "-").replaceAll("/", "-") === requiredPaymentMatch)
    {
        minDepo = payMethods[i].payDepo;
        bonus = payMethods[i].payBonus
    }
}

let langDirectory = "";
if(lang != "en"){
    langDirectory = "/"+ lang
}

let contentPath;
if(lang == "en") contentPath = metaData;
else if(lang == "ru") contentPath = metaDataRu;
else if(lang == "zh") contentPath = metaDataZh
else if(lang == "es") contentPath = metaDataEs
else if(lang == "fr") contentPath = metaDataFr
else if(lang == "pt") contentPath = metaDataPt
else if(lang == "hi") contentPath = metaDataHi
else if(lang == "bn") contentPath = metaDataBn
else if(lang == "ur") contentPath = metaDataUr
else if(lang == "id") contentPath = metaDataId
---
<style is:inline>
    /* article:hover img{
        filter: brightness(.75);
    } */
    article:hover .data{
        transform: translateY(0);
    }
</style>

<article class="lg:w-[32%] md:w-[48%] h-fit overflow-hidden relative w-full rounded-lg shadow-sm hover:shadow-2xl hover:scale-105 transition-all ease-in-out duration-150">
        
    <a class="relative flex justify-center items-center" href={`${langDirectory}/panels/` + slugURL}>
        <img src=
        {
            imageSrc != ""
            ? imageSrc 
            :"/assets/images/no-image-available.jpg"
        } 
        loading="lazy" alt={panelTitle + " thumbnail"} class="h-44 w-full rounded-t-lg">

    </a>
    
    <div class="data w-full rounded-b-lg text-white p-4 bg-[#00000069] backdrop-blur-sm bottom-0 left-0 transition-all ease-in-out duration-150">
        <h2 class="font-bold text-center">
            <a class="hover:underline" href={`${langDirectory}/panels/` + slugURL}>{panelTitle}</a> 
            <span class="inline-flex justify-center items-center size-5 rounded-full text-white hover:bg-[#69b63d] bg-[#9bdd75] shadow-lg shadow-[#9bdd75]">
                <i class="fa-solid fa-angle-right"></i>
            </span>
        </h2>
        
        <span class="flex items-center justify-between w-full">
            <span class="font-bold block"><i class="text-[#9bdd75] fa-regular fa-money-bill-1-wave"></i> {contentPath?.text[52]} : {`${minDepo}`}</span>
            <span class="font-bold block text-right">
                {
                    bonus && 
                    <i class="text-[#9bdd75] fa-solid fa-icons fa-fw"></i>
                    <>{contentPath?.text[53]} {" "} {bonus}</>
                }
            </span>
        </span>
    </div>
</article>
